<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.barbershop_hit">

    <application
        android:allowBackup="true"
        android:icon="@drawable/barberlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.barbershop_hit.RegisterActivity" />
        <activity android:name="com.example.barbershop_hit.MainActivity" />
        <activity android:name="com.example.barbershop_hit.OrdersActivity" />
        <activity android:name="com.example.barbershop_hit.ContactActivity" />
        <activity android:name="com.example.barbershop_hit.AdminActivity" />
        <activity android:name="com.example.barbershop_hit.AppointmentActivity" />
        <activity android:name="com.example.barbershop_hit.LoginActivity" />
        <activity android:name="com.example.barbershop_hit.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>